<form enctype="multipart/form-data" method="POST">
  <h1>Welcome to RentaCar!</h1>
  <h1>We have {{cars}} cars!</h1>
  <form>
    <input type="text" name="query" placeholder="Search...">
    <input id="submit" type="submit" value="Search">
  </form>
</form>