<div class="product-card">
  <img src="{{this.image}}">
  <a href="/editDoner/{{this._id}}" class="control">
    <img class="control-img" src="/img/edit.png">
  </a>
  <a href="/deleteDoner/{{this._id}}" class="control">
    <img class="control-img" src="/img/delete.png">
  </a>
</div>