<h1>Register User</h1>
<form method="POST">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">

    <label for="password">Password</label>
    <input type="password" id="password" name="password">

    <label for="confirmedPassword">Confirm Password</label>
    <input class="input-field" type="password" id="confirmedPassword" name="confirmedPassword">

    <label for="firstName">First Name</label>
    <input class="input-field" type="text" id="firstName" name="firstName">

    <label for="lastName">Last Name</label>
    <input class="input-field" type="text" id="lastName" name="lastName">

    <label for="age">Age</label>
    <input class="input-field" type="number" id="age" name="age">

    <input class="btn form-btn" type="submit" value="Register">
</form>