<div class="content">
  <form enctype="multipart/form-data" method="POST">
    <h1 class="head-title">Welcome to Book Library!</h1>
    <h1 class="head-title">We have {{books}} books!</h1>
    <div class="form-group">
      <form id="search-form">
        <input type="text" name="query" placeholder="Search by title...">
        <input type="submit" value="Search">
      </form>
    </div>
  </form>
</div>