<h1>Welcome to Doner Place!</h1>
<p>We offer a wide variety of tasty doner kebab, cutosmized to your liking. Choose from different sizes of chicken, beef and
  lamb and any topping you want. Place your order now!</p>
<div class="products">
  <h2>Admin</h2>
  <div class="product-card">
    <img src="/img/new.png">
    <a href="/addProduct" class="button product-title">Create Product</a>
  </div>

  {{#if chicken}}
  <h2>Chicken Doner</h2>
  {{#each chicken}} 
  {{> donerAdmin}} 
  {{/each}} 
  {{/if}} 

  {{#if beef}}
  <h2>Beef Doner</h2>
  {{#each beef}} 
  {{> donerAdmin}} 
  {{/each}} 
  {{/if}} 

  {{#if lamb}}
  <h2>Lamb Doner</h2>
  {{#each lamb}} 
  {{> donerAdmin}} 
  {{/each}} 
  {{/if}}

</div>